// 新建 styles/vars.css 文件
:root {
  --yun-c-cloud: rgb(2, 249, 47);
}

// styles/vars.scss
:root {
  /* 背景图片 */
  --yun-bg-img: url("https://img.314926.xyz/images/2025/07/30/cover5.webp");
  /* 侧边栏背景图片 */
  --yun-sidebar-bg-img: url("https://img.314926.xyz/images/2025/08/15/cover19.webp");
}
